@font-face{
    font-family: "kaffeesatz";
    src: url(../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf)
  }
  @font-face{
    font-family: "sone";
    src: url(../fonts/Secular_One/SecularOne-Regular.ttf)
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 2%;
}